@media screen and (min-width: 576px) {
    .jumbotron {
        background-image: url(../img/pizza.png);

        margin: 2rem;

    }

    .display-4 {
        background-color: rgba(255, 251, 255, 0.6);
        text-align: center;
    }
}
@media screen and (max-width: 576px) {
    .display-4 {
        display: none;
    }
    .jumbotron {
        display: none;
    }
}
