* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    color: black;
}

header {
    background-color: #c1c1c1;
    color: #000;
    display: flex;
    width: 100%;
    /*justify-content: space-evenly;*/
    font-family: 'Work Sans', sans-serif;
}

a {
    display: inline-block;
    color: black;
    padding: 9px;
}

/*.logo a {*/
/*    padding: 3px 12px;*/
/*}*/

a:hover {
    color: blue;
}

.header-content {
    display: flex;
    align-items: center;
}

.list-on-left {
    display: flex;
    margin-right: auto;
    text-decoration: none;
    width: 15em;
    justify-content: flex-start;
}

/*.header-content .list-on-left>.list-item {*/
/*    margin-right: auto;*/
/*}*/

.list-on-right {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;
    width: 15em;
}

.logo{
    display: flex;
    padding: .2em;
    font-size: 3em;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 0 auto;
    border-right: 10em;
    width: calc(100% - 30em);
}

p {
    text-align: center;
}
