/*Navigation Bar*/
.nav-signup a {
    color: #777777;
}
.navbar a:hover {
    background: #e7e7e7;
    height: 100%;
}

.navbar {
    padding: 0;
}
/*Build your own pizza cards*/
.build-container {
    display: block;
    margin: 2rem;
}
.card-header {
    border: 1px solid rgba(222,223,223,0.35);
}
.card-footer {
    border: 1px solid rgba(222,223,223,0.35);
}