* {
    align-content: center;
    color: #3ec620;
}

.fancy-header {
    color: #1194d0; /* single line comment */
    margin-bottom: 10px;
    text-decoration: underline #b2c3e3;
}

.under-title {
    color: #3693cf;
    text-align: center;
}

h1 {
    text-align: center;
}

body {
    background-color: #374737;
    background-image: inherit;
}

#company-vision.boardwalk {
    margin: 5px;
}

#pricing {
    border: 1px solid #3ec620;
    margin: 2px 2px;
    padding: 2px;
}

td, th {
    color: #3ec620;
    border: 1px solid #3ec620;
    padding: 2px;
}

a:hover {
    color: #fff;
    /*background-image: url("img/tech-5142625_1920.jpg");*/
}
