* {
    align-content: center;
}

.fancy-header {
    color: #0c67b0; /* single line comment */
    margin-bottom: 10px;
    text-decoration: underline;
}

.under-title {
    color: #0c67b0;
    text-align: center;
}

h1 {
    text-align: center;
}

body {
    background-color: #cceeff;
    background-image: url("tech-5142625_1920.jpg");
}


company vision {
    /*background-image: url("img/tech-5142625_1920.jpg");*/
}
