.fancy-header {
    color: #c3621d; /* single line comment */
    text-decoration: underline;
}

h1 {
    text-align: center;
}

body {
    background-color: #f3ebe4;

}

body {
}

company vision {
    /*background-image: url("img/tech-5142625_1920.jpg");*/
}
